{% extends "base.html" %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Nouveau mot de passe</h2>
    
    <form method="post">
        <input type="password" name="password" placeholder="Nouveau mot de passe" required minlength="6">
        <input type="password" name="confirm_password" placeholder="Confirmer le mot de passe" required minlength="6">
        <button type="submit">Changer mon mot de passe</button>
    </form>
</div>
{% endblock %}